.strip {
  display: block;
  width: 12px;
  height: 500px;
  position: absolute;
  border-radius: 50px;
}

.strip-0 {
  background-color: #109c68;
  transform: rotate(36deg) translate(50%, -60%);
  top: 55px;
  left: 40%;
  margin-top: 20px;

  @media (max-width: 767.98px) {
    left: 50%;
  }
}
.strip-1 {
  background-color: #ffae00;
  transform: rotate(36deg) translate(50%, -70%);
  top: 0;
  left: 40%;
  margin-top: 40px;

  @media (max-width: 767.98px) {
    left: 50%;
  }
}
.strip-2 {
  background-color: #2d2d2d;
  transform: rotate(36deg) translate(50%, -80%);
  top: 0;
  left: 40%;
  margin-top: 60px;

  @media (max-width: 767.98px) {
    left: 50%;
  }
}

.bubble {
  display: block;
  border-radius: 100%;
  position: absolute;
  background-color: #109c68;
  z-index: 1;

  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

.bubble-0 {
  opacity: 5%;
  width: 400px;
  height: 400px;
}
.bubble-1 {
  opacity: 10%;
  width: 200px;
  height: 200px;
}
.bubble-2 {
  opacity: 15%;
  width: 100px;
  height: 100px;
}
